/*
colorblind safe color palette from colorbrewer2.org
#f4a582 - peach
#0571b0 - blue
*/

/*Sets the background color of the header to blue*/
#header {
  background-color: #DAAD86;
  text-align: center;
  color: #OCOO32;
}

/*sets the color of all items designated h1 to peach, gives them a padding of 5 pixels and a nonexistent margin*/
h1 {
  padding: 5px;
  margin: 0;
  color: black;
}

h2 {
  padding: 5px;
  margin: 0;
  color: black;
  font-size: 25px;
}

h3 {
  padding: 5px;
  margin: 0;
  color: black;
  font-size: 20px;
}

/*Sets the background color of body container to peach, gives it a maximum width of 1000 pixels, sets the
margin at auto, sets the height at 100vh, gives it a two pixel border and gives that border a peach color,
set the radius of the border at 25 pixels, and sets the page to hide content when it overflows*/
#body-container {
  background-color: #FBEEC1;
  max-width: 1000px;
  margin: auto;
  height: 650vh;
  border: 10px solid #FBEEC1;
  border-radius: 25px;
  overflow: hidden;
  align-items: center;
}

/*Sets the background color to peach, sets the text color to blue, and sets the alignment to center*/
body {
  background-color: #659DBD;
  color: #0571b0;

}

/*Sets the profile picture to float on the left side*/
#profile-picture {
  float: left;
}

/*Sets the padding from the top to 25 pixels and the font size 25 pixels*/
#welcome-text {
  padding-top: 10px;
  font-size: 30spx;
  color: black;
  font-family: Garamond, serif;
  text-align: center;
}

/*sets the text to align on the left and the font size to 25 pixels, sets
the position to be relative to the rest of the page*/
#research-interests {
  text-align: left;
  font-size: 20px;
  position: relative;
  left: 50px;
}

/*sets the font of the footer to sans serif*/
#copyright {
 position: relative;
 text-align: center;
 bottom: 20px;
}

#webmap-reviews{
  text-align: left;
  font-size: 10px;
  position: relative;
}

#toc_container {
    background: #FBEEC1 none repeat scroll 0 0;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}
